@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

.App {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	height: 100%;
	background-color: $color-light2;
	padding: 3rem 1rem;
	transition: padding 1s ease-in-out;

	@include tablet {
		padding: 1rem 3rem;
		transition: padding 1s ease-in-out;
	}

	@include desktop {
		padding: 1rem 8rem;
		transition: padding 1s ease-in-out;
	}
}
