@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form-section {

    &__title {
        margin: 0rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include tablet {
        margin: 1rem 4rem;
    }

    &__instructions {
        margin: 0.5rem 0rem;

        &--span {
            font-style: italic;
        }

        &--link:visited {
            color: inherit;
        }
    }

    &__label {
        margin: 0.5rem 0rem;
    }

    &__select {
        font-family: 'Poppins';
        border: 0.01rem dotted $color-dark1;
        border-radius: 0.25rem;
        width: 100%;
        padding: 0.5rem;
        transition: width 1s ease-in-out;

        @include tablet {
            width: 20rem;
            transition: width 1s ease-in-out;
        }

        &:focus {
            outline: 0.1rem dashed $color-dark2;
        }
    }

    &__textarea {
        resize: none;
        font-family: 'Poppins';
        height: 4rem;
        border: 0.01rem dotted $color-dark1;
        border-radius: 0.25rem;
        padding: 0.5rem;

        &:focus {
            outline: 0.1rem dashed $color-dark2;
        }

        &::placeholder {
            color: $color-light1;
        }

        &--error {
            border: 1px solid $color-error;
        }
    }

    &__error {
        margin: 0 auto 0 0;
        font-size: smaller;
        color: $color-error;

        &--hidden {
            visibility: hidden;
            margin: 0rem;
            font-size: smaller;
        }
    }

    &__button {
        @include button;
    }
}