.form {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__title {
        color: plum;
    }

    &__textarea {
        resize: none;
        font-family: sans-serif;
        padding: 0.5rem;
    }

    &__button {
        padding: 0.5rem 0rem;
        margin: 0.5rem 0rem;
    }
}