@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    font-family: 'Poppins';
    background-color: $color-accent1;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0rem;
    margin: 0.5rem 0rem;
    width: 100%;
    transition: background-color 0.1s, width 1s ease-in-out;
    margin-left: auto;

    @include tablet {
        width: 20rem;
        transition: width 1s ease-in-out;
        margin-left: auto;
    }

    &:hover {
        background-color: $color-accent2;
    }

    &:active {
        background-color: $color-dark1;
        transition: background-color 0.1s;
    }

    &:focus {
        outline: 0.1rem dashed $color-dark1;
    }
}