// media breakpoints

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors

// palette 1
$color-light1: #cfdbd5;
$color-light2: #e8eddf;
$color-accent1: #f5cb5c;
$color-dark1: #242423;
$color-dark2: #333533;

// palette 2
$color-light1: #dad7cd;
$color-light2: #a3b18a;
$color-accent1: #588157;
$color-dark1: #3a5a40;
$color-dark2: #344e41;