// media breakpoints

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors

// palette 1
$color-light1: #cfdbd5;
$color-light2: #e8eddf;
$color-dark1: #344e41;
$color-accent1: #f5cb5c;
$color-accent2: #e2b330;
$color-error: red;