// media breakpoints

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors

// palette 1
$color-light1: #cfdbd5;
$color-light2: #e8eddf;
$color-accent1: #f5cb5c;
$color-accent2: #e2b330;
$color-dark1: #242423;
$color-dark2: #333533;

// palette 2
$color-light3: #dad7cd;
$color-light4: #a3b18a;
$color-accent3: #588157;
$color-dark3: #3a5a40;
$color-dark4: #344e41;
$color-error: red;