@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.response {
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: 1rem 4rem;
    }

    &__text {
        font-size: 1rem;
    }

    &__completion {
        font-size: 2rem;
    }
}