@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.responses {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0rem;
    }

    &__list {
        margin: 1rem;
        padding: 0rem;

        @include tablet {
            margin: 1rem 4rem;
        }
    }
}