@use './styles/partials/variables' as *;

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-light2;
	padding: 1rem;

	&__title {
		color: $color-accent3;
	}
}
